* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(155, 229, 229);
}

.button {
  position: fixed;
  left: 20px;
  top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: rgb(198, 161, 233);
  border-color: aqua;
}

.panel {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: #d0fab2;
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.panel.active {
  right: 0;
}

.panel a {
  text-decoration: none;
  color: black;
  margin: 5px 0;
}

input {
  border-color: aqua;
}
